%p#notice= notice

%p
  %b Room:
  = @question.room
%p
  %b Order:
  = @question.order
%p
  %b Prompt:
  = @question.prompt
%p
  %b Answers:
  = @question.answers
%p
  %b Correct answer:
  = @question.correct_answer

= link_to 'Edit', edit_question_path(@question)
\|
= link_to 'Back', questions_path
