= form_with(model: player) do |form|
  - if player.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(player.errors.count, "error")
        prohibited this player from being saved:
      %ul
        - player.errors.each do |error|
          %li= error.full_message
  %div
    = form.text_field :username, class: "w-full"
  %div.flex.justify-center
    = form.submit "Join", class: "button-10"